@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --primary-color: #fff;
  --secundary-color: #04090D;
  --shadow-color: rgba(255, 255, 255, .2);
  --black--color: rgb(0, 0, 0);
}

:root.darkmode {
  --primary-color:#04090D;
  --secundary-color: #fff;
  --shadow-color: rgba(255, 255, 255, 0.818);
  --black--color: rgb(212, 212, 212);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif; 
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: var(--primary-color);
}

.container {
  width: 420px;
  background-color: transparent;
  border: 2px solid var(--shadow-color);
  border-radius: 10px;
  color: var(--secundary-color);
  padding: 30px 40px;
  box-shadow: 0 0 10px var(--black--color);
  backdrop-filter: blur(20px);
}

.container h1 {
  font-size: 36px;
  text-align: center;
}

.input-box {
  position: relative;
  width: 100%;
  height: 50px;
  margin: 30px 0;
}

.input-box input {
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: 2px solid var(--secundary-color);
  border-radius: 40px;
  outline: none;
  font-size: 16px;
  color: var(--secundary-color);
  padding: 20px 45px 20px 20px;
}

.input-box input::placeholder {
  color: var(--secundary-color);
}

.input-box i {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
}

.remember-forgot {
  display: flex;
  justify-content: space-between;
  margin: -15px 0 15px;
}

.remember-forgot label input {
  accent-color: var(--secundary-color);
  margin-right: 5px;
}

.remember-forgot a {
  text-decoration: none;
  color: var(--secundary-color);
}

.remember-forgot a:hover {
  text-decoration: underline;
}

.login {
  width: 100%;
  height: 50px;
  background-color: var(--secundary-color);
  border: none;
  border-radius: 40px;
  cursor: pointer;
  font-size: 16px;
  color: var(--primary-color);
  font-weight: 600;
  box-shadow: 0 0 10px var(--black--color);
  margin-top: 20px;
}

.login a {
  text-decoration: none;
  color: var(--primary-color);
}

.login:hover a {
  color: var(--secundary-color);
}

.login:hover {
  background-color: transparent;
  border: 2px solid var(--shadow-color);
  color: var(--secundary-color);
  transition: 0.5s;
}

.register-link {
  font-size: 14px;
  text-align: center;
  margin: 20px 0 15px;
}

.register-link a {
  text-decoration: none;
  color: var(--secundary-color);
  font-weight: 600;
}

.register-link a:hover {
  text-decoration: underline;
}

#theme-switch {
  height: 50px;
  width: 50px;
  padding: 0;
  border-radius: 50%;
  background-color: var(--secundary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 20px;
  right: 20px;
}

.emoji-lua {
  font-size: 1.5rem;
}

.emoji-sol {
  font-size: 1.5rem;
}

body, .container, .input-box, .login, .register-link {
  transition: background-color 0.3s ease, color 0.3s ease;
}

#theme-switch span:last-child {
  display: none;
}

#theme-switch:hover {
  background-color: var(--shadow-color);
  transition: background-color 0.2s ease;
}

.darkmode #theme-switch span:first-child {
  display: none;
}

.darkmode #theme-switch span:last-child {
  display: block;
}

.darkmode #theme-switch {
  background-color: #142E42;
  box-shadow: 0 0 12px rgba(255, 255, 255, 0.47);
}
